<app-header></app-header>
<!-- <button id="openNav" class="w3-button w3-teal w3-xlarge" (click)="open()">&#9776;</button> -->

<router-outlet></router-outlet>
<!-- <app-expense></app-expense> -->
<div id="myModal" role="dialog" class="modal fade centered-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
        </div>
    </div>
</div>
<!-- <div class="container-fluid">
    <div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:inline-block" id="mySidebar"
        style="background-color: antiquewhite;">
        <button class="w3-bar-item w3-button w3-large" (click)="close()">Close &times;</button>

        <a href="javascript:;" class="w3-bar-item w3-button">Home</a>
        <a href="javascript:;" class="w3-bar-item w3-button" (click)="UiSettings()">Settings</a>
        <a href="javascript:;" class="w3-bar-item w3-button">Profile</a>

    </div>
</div> -->